.shahor-throwback-plugin-display-badge {
	position: relative;
}

.shahor-throwback-plugin-display-badge::after {
	font-size: var(--font-size-secondary);
	color: hsl(var(--base-h), var(--base-s), var(--base-l));

	content: attr(data-badge);

	display: inline-block;
	position: absolute;
	top: -5px;
	right: 0px;
}
